body {
    margin: 0;
}

header {
    text-align: center;
}

.nav_logo {
    font-family: 'Momo Signature', sans-serif;
}

.aa1,.nav_logo a {
    color: black;
    font-weight: 999;
}

.aa2 {
    font-weight: 999;
}

.aa3 {
    background-color: black;
    width: 200px;
    height: 25px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    color: white;
    font-size: 18px;
    border-radius: 12px;
    margin-top: 1vh;
}

.hh2 {
    font-weight: 999; 
    margin-left: 5vh;
    margin-bottom: 5vh;
    margin-top: 3vh;
    margin-top: 5vh;
}

.trending_news {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    background-color: #EBEEF3;
    border-radius: 15px;
    padding-bottom: 10vh;
}

.recents {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5vh;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 12vh;
}

.recents img {
    border-radius: 12px;
}

.recent_news h1 {
    margin-left: 5vh;
    padding-top: 3vh;
}

.recent_news {
        background-color: #EBEEF3;
        margin-top: 8vh;
        margin-bottom: 5vh;

}

.recent_1{
    text-align: center;
    background-color:#e1e3e5;
    border-radius: 14px;
     border: 2px solid rgb(215, 208, 208);
     box-shadow: 5px 5px rgb(121, 120, 120);
}

.recent_2 {
     border: 2px solid rgb(215, 208, 208);
     box-shadow: 5px 5px rgb(121, 120, 120);
     border-radius: 10px;
}

.head_text h1,.head_text2 {
    text-align: center;
    margin-left: 1vh;

}

.sports_article .sport_card {
    margin-top: 15vh;
}

.news_conteiner {
    display: grid;
    grid-template-columns:repeat(4,2fr);
    margin-top: 20vh;
    gap: 5vh;


}

.sports_article  {
    display: grid;
    grid-template-columns:repeat(4,2fr);
    margin-top: 10vh;
    gap: 6vh;
    margin-right: 20vh;
    margin-bottom: 10vh;
    text-align: center;
}

.sports_article h1 {
    margin-left: 5vh;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1vh;
}

.part_1 {
    text-align: center;
}

.nav_list ul li a:hover {
    color: black;
    transition: ease-in 0.3s;
}

.aa3:hover {
    background-color: rgb(44, 44, 44);
    transition: ease-in 0.2s;
}

.news a, .sport_card a {
    color: black;
}


.footer_1 {
    display: flex;
    gap: 20vh;
    background-color: #EBEEF3;
    width: 1230px;
    height: 385px;
    border-radius: 15px;
}

.inp {
    width: 514px;
    height: 58px;
    margin-left: 5vh;
    border-radius: 12px;
    border: none;
    padding-left: 3vh;
}




.card h1 {
    background-color: #EBEEF3;
    width: 270px;
    height: 116px;
    font-size: 28px;
    padding-left: 23px;
    padding-top: 20px;
    max-width: 250px;
    color: #262626;
}

.conteiners {
    display: grid;
    grid-template-columns:repeat(4,2fr);
}

.hero_section {
    background-color: rgb(245, 242, 242);
    justify-content: space-between;
}

.category {
    margin-top: 8vh;
}




.hero_left .hh1 {
    font-family: 'Open Sans', sans-serif;
    color: #262626;
     padding-left: 20vh;

}

.hero-left  {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     text-align: center;

 
}

.img1 {
    margin-right: 1vh;
    z-index: 1;
}



.hero-center   {
    display: flex ;
    justify-content: center;
}


.inp1 {
    width: 100px;
    height: 35px;
    background-color: #B8C2CE;
    border-radius: 6px;
    border: none;
    outline: none;
    margin-left: 12vh;
    text-align: center;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    text-align: center;

}

.nav_list ul {
     display: flex;
     justify-content: center;
     gap: 30px;
}

a,ul  {
    text-decoration: none;
    list-style: none;
    color: gray;
}

.hamburger {
    display: none;
}


@media screen and (max-width:768px) {
    
  
  nav {
    justify-content: space-around;
    align-items: center;
    margin-right: 5vh;
    margin: 2vh;
    height: 3vh;
 
  }


 



  .nav_list {
    display: none;
    flex-direction: column;
    background: #333;
    position: absolute;
    top: 70px;
    right: 1px;
    padding: 1px;
    border-radius: 10px;
    justify-content: center;
    width: 50vh;

  }

   
  

  .nav_list.active {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .nav_list ul {
   flex-direction: column;
  }

  .nav_list ul li {
     font-size: 15px;
     gap: 1px;
  }


  .hamburger {
    display: block;
  }

  .hero-left {
    justify-content: center;
    margin-top: 6vh;
  }

  .img1 {
    width: 410px;
  }

  .category {
     justify-content: space-around;
     text-align: center;
  }

  .conteiners {
    grid-template-columns: repeat(2,2fr);
    margin: 0.5vh;
    gap: 1vh;
    text-align: center;
  }

  .img {
    width: 200px;
  }

  .conteiners h1 {
    font-size: 15px;
  }


  .cardd h1{
    width: 175px;
    border-radius: 10px;
  }

 /* .trending_news .head_text h1 {
    text-align: center;
  }

  .news_conteiner  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }*/

}
 